
.dateText{
    text-align: center;
}
.calender{
    display: grid ;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: max-content;
    margin:1%;
    border: solid black 1px;

}
.date{
    border:solid black 1px ;
    width: auto;
    text-align: center;

}

.task{
    margin-left: 2%;
}

.subtask{
    margin:1%;
}
.subtask > div {
    display: inline-block;
}

