.crumb {
  text-align: left;
}
.crumbs {
  display: inline-block;
}
.title {
  font-size: 120%;
}
.head {
  margin-left: 1%;
}

.patient-card-hr {
  width: 200px;
}

.patient-card-center {
  text-align: center;
}

.patient-card-left {
  text-align: left;
  margin-left: 25px;
}

.patient-card-right {
  float: right;
  margin-right: 25px;
}

.plus-knop {
  padding-top: 50%;
  padding-bottom: 50%;
}

.card {
  height: 300px;
  width: 250px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
}

.cards {
  margin: 0 auto;
  display: grid;
  gap: 25px 25px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: 1fr 1fr;
  border: 1px solid black;
  padding: 50px 50px 50px 50px;
  margin: 15px 15px;
  border-radius: 5px;
  align-items: center;
  justify-items: center;
}

@media screen and (max-width: 1350px) {
  .cards {
    margin: 0 auto;
    display: grid;
    gap: 25px 25px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 1fr 1fr;
    border: 1px solid black;
    padding: 10px 10px 10px 10px;
    margin: 15px 15px;
    border-radius: 5px;
    align-items: center;
    justify-items: center;
  }
}

@media screen and (max-width: 450px) {
  .card {
    height: 300px;
    width: 200px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
  }

  .patient-card-hr {
    width: 160px;
  }

  .cards {
    margin: 0 auto;
    display: grid;
    gap: 25px 25px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 1fr 1fr;
    border: none;
    padding: 10px 10px 10px 10px;
    margin: 15px 15px;
    border-radius: 5px;
    align-items: center;
    justify-items: start;
  }
}
